<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
<!--
  Allows you to use stereotype annotations to define beans
-->
  <context:annotation-config />
  <context:component-scan base-package="com.navin.telusko" />

<!--
  Creating beans using XML
    property: use set method to assign value
      value: to assign a simple value
      ref: to assign bean instance through his id
    constructor-arg: assign value using constructor's class.
-->
<!--  <bean id="tire" class="com.navin.telusko.Tire">-->
<!--    <property name="brand" value="MRF" />-->
<!--    <constructor-arg value="MRF"/>-->
<!--  </bean>-->
<!--  <bean id="vehicle" class="com.navin.telusko.Car" >-->
<!--    <property name="tire" ref="tire" />-->
<!--  </bean>-->
</beans>